body {
  margin: 0;
}

a {
  color: #000;
}

.app-container {
  box-sizing: border-box;
}

.icon-container {
  padding: 10px;
  border-radius: 10px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card-link {
  text-decoration: none;
}
